.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.table th {
  background: lightgrey;
  padding: 0.5rem;
  border: 1px solid grey;
  text-align: left;
}

.table td {
  padding: 0.5rem;
  border: 1px solid grey;
}

.table tr:nth-child(even) {
  background: whitesmoke;
}

.table th:last-child,
.table td:last-child {
  width: 160px;
  text-align: center;
}

.table td:last-child {
  white-space: nowrap;
}

.table button {
  padding: 0.4rem 0.7rem;
  margin: 0 0.2rem;
  border: none;
  background: rgb(66, 66, 169);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
